# created by virtualenv automatically
venv/
.venv/
__pycache__/
scrapyNetIF/scrapyNetIF/__pycache__/
scrapyNetIF/scrapyNetIF/spiders/__pycache__/
scrapyNetIF/scrapyNetIF/spiders/__pycache__/NetIF.cpython-310.pyc
