/**********************
file: style.css
author: Baumann Danièl
created: 2022-11-22
changed: 2022-11-22
version: 1.0
***********************/

/* General */

:root {
    --green: #aceb1b;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Header Menue */

.header {
    background-color: var(--green);
    width: 100vw;
    height: 10rem;
}

.logo {
    width: 100px;
}

.logo img {
    width: max-content;
}