/**********************
file: veditor.css
author: Baumann Danièl
created: 2022-12-13
changed: 2022-12-13
version: 1.0
***********************/

.content{
    display: grid;
    height: calc(100vh - 8.4rem);
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, auto);
    width: 100%;
}

.switch-list{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    width: calc(100% - 1.3em);
    margin: 3em 0 .2em .4em;
    padding: 0 .4em;
    border: .25em solid var(--green);
    overflow-y: scroll;

    background-color: var(--green);
}

.switch-list-item{
    background-color: #f6f6f6;
    border-radius: 4px;
    margin: .4em 0;
    padding: .6em;
}

.switch-list p{
    margin: 0;
    padding: 0;
}

.dragAndDrop{
    grid-column: 2;
    grid-row: 1;
    margin-top: 3em;
    height: max-content;
    border: 1px solid black;
    border-left: none;

}

#switchField{
    width: 100%;
    margin: auto;
}
