<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="{{url_for('static', filename='images/logo_only.svg')}}" alt="Logo">
        </div>
        <div class="menue-items">
            <div class="item">Dashboard</div>
            <div class="item">Reports</div>
            <div class="item">Visual Editor</div>
            <div class="logo-text"><img src="{{url_for('static', filename='images/logo_font.svg')}}" alt="NETIF"></div>
            <div class="item">Ports</div>
            <div class="item">Trunks</div>
            <div class="item">Vlans</div>
        </div>
    </div>
    <div class="footer">
        <p>© 2022-2023 - Baumann, Chen, Natroshvili, Stiefsohn</p>
    </div>
</body>

</html>