{% extends "base.html" %}

{% block title %}Reports{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/reports.css')}}">
{% endblock links %}

{% block scripts %}

{% endblock scripts %}

{% block content %}
<div class="report-list">
    {% for report in reports %}
    <div class="report-list-item">
        {{ report }}
        <a href="/download/{{report}}"><img class="download icon-button" style="width:1.2em"
                src="{{url_for('static', filename='images/download.svg')}}" alt="download"
                onclick="download_report('{{report}}')"></a>
    </div>
    {% endfor %}
</div>
{% endblock content %}