{% extends "base.html" %}

{% block title %}Visual Editor{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/visualeditor.css')}}">
{% endblock links %}

{% block scripts %}
<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<script src="{{url_for('static', filename='js/visualeditor.js')}}"></script>
{% endblock scripts %}

{% block content %}
<div class="switch-list">
    {% for item in switches %}
    <div class="switch-list-item">
        <div class="visible-icon">
            <input id="eye-{{item.ip}}" class="visible-check" type="checkbox" onclick="hideShapeById('{{ item.ip }}')">
            <label for="eye-{{item.ip}}">
        </div>
        <p class="switch-list-item-name" style="font-weight: bold;">{{ item.name }}</p>
        <p style="font-size: .8em;">{{ item.model }}</p>
        <p class="switch-list-item-ip">{{ item.ip }}</p>
    </div>
    {% endfor %}
</div>
<div class="dragAndDrop">
    <canvas id="switchField" width="1920px" height="900px">
        Canvas is not supported by your Browser
    </canvas>
</div>
{% endblock content %}